# Web Framework
Flask
flask-cors
flask-socketio
python-socketio

# Telegram
telethon
cryptg

# Solana
solders
solana
base58

# HTTP & APIs
requests
aiohttp
asyncio

# Utilities
python-dotenv
python-dateutil
pytz
